<% include ../partials/header %>

 <div class = 'zoos'>
    Zoo Name:
    <%= zoo.name %>
    <br/>
    Zoo Location:
    <%= zoo.location %>
    <br/>
    Zoo Animals:
    <button class = 'viewZoosAnimals' data-url = '/zoos/<%=zoo.id%>/animals'>Zoo Animals</button>
    <br/>
    <br/>
    <br/>
    <button class = 'newAnimal' data-url = '/zoos/<%=zoo.id%>/animals/new'>New Animal</button>
    <button class = 'editZoo' data-url = "/zoos/<%= zoo.id %>/edit" >Edit Zoo</button>
    <br/>
    <button id = 'deleteButton' data-url = '/zoos/<%=zoo.id%>'>Delete Zoo</button>
  </div>
  <br/>
<button class = 'zooHome' >Your Zoos</button>

<% include ../partials/footer %>